---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await getCollection("blog");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>... what will be here?</h2>
    
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        {allPosts.map((post) => (
            <BlogPost url={`/posts/${post.id}`} title={post.data.title} />
        ))
        } 
    </ul>
    <script>
        import "../scripts/menu.js";
    </script>
</BaseLayout>
